/* font linking */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* font-family: 'Work Sans', sans-serif; */

/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 18px 22px;
    cursor: pointer;
    border: 0;
    margin-bottom: 35px;
}
.section-tittle{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}
.common-details{
    color: #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0 20px;
}
/* section common padding */
.section-container{
    padding: 85px 0 120px;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-tittle{
    
}
nav> ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 95px;
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner{
    padding-top: 110px;
}
.banner-content{
    text-align: center;
    max-width: 870px;
    margin: 0 auto;
}
.banner-tittle{
    color: #131313;
    font-size: 5em;
    font-weight: 700;
    padding: 0 20px;
}
.break{

}

.banner img{
    width: 100%;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* team section*/
.team-container{
    display: flex;
    align-items: center;

}
.team-details{
    padding-left: 70px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 1rem;
}
.tittle-style1{
    color: #727272;
    font-weight: 500;
}
.tittle-style2{
    color: #131313;
    font-weight: 700;
}
.tittle-style3{
    color: #FF900E;
    font-weight: 700;
}

/*  */

/* fact section */
.fact{
    padding-top: 0;
}
.fact-details{
    width: 50%;
    margin-bottom: 100px;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px;
}
.fact-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
}
.fact-card-container .card-tittle{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}
.card img{
    width: 45.221px;
    height: 45.221px;
    flex-shrink: 0;
}

/* Responsive styles */
@media screen and (max-width:576px) {
    /* common change */
    .section-container {
        padding: 50px 0 75px;
    }
    .common-details {
        margin: 10px 0 15px;
    }
    /*  */
    header {
        padding: 45px 35px;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    .section-tittle{
        font-size: 2.3em;
    }
    nav li {
        margin-right: 0;
        margin-top: 25px;
        margin-left: 42px;
    }   
    .banner {
        padding-top: 36px;
    }
    .banner-tittle {
        font-size: 3em;
    }
    .btn-primary {
        padding: 13px 17px;
    }
    /* team section */
    .team-container {
        flex-direction: column-reverse;
    }
    .team-img {
        grid-template-columns: 1fr;
        gap: .8rem;
    }

    .team-details {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (min-width:576.1px) and (max-width:992px) {
    /* common change */
    .section-container {
        padding: 65px 0 90px;
    }
    .common-details {
        margin: 18px 0 25px;
    }
    /*  */
    header {
        padding: 45px 35px;
    }
    .section-tittle{
        font-size: 2.3em;
    }
    nav li {
        margin-right: 30px;
    }
    .banner {
        padding-top: 40px;
    }
    .banner-tittle {
        font-size: 4em;
    } 
    /* team section */
    .team-container {
        flex-direction: column-reverse;
    }
    .team-details {
        text-align: center;
        padding: 0 118px;
    }
}